
<div class="card" style="width: 18rem;">
      <div class="card-body">
        <p class="card-text"><%=@question %></p>
        <p class="card-text"><%= @answer %></p>
        <button type="button" class="btn btn-outline-primary"> <%= link_to "Ask a new question", "/ask" %></button>
      </div>
    </div>
